body{
    background-color: #ffffcc;
    color: black;
    
font-family: 'Amaranth', sans-serif;
font-family: 'Amiri Quran', serif;

}
.ss{
    margin: 20px;
    margin-top: 110px;
    padding: 40px;
    text-align: justify;
    line-height: 2.5;
    border: 10px double #d81b60;
}
div.parent-simbole{
    position: relative;
    display: inline-block;
    font-size: 40px;
}
span.child-simbole{
position: absolute;
top: 60%;
left: 45%;
transform: translate(-50%, -50%);
font-size: 30px;
}
p{
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    display: inline;
    margin-bottom: 50px;
}
p.active{
    background-color: rgb(46, 46, 50) !important;
    color:#ffffff;
    border-radius: 10px;
    padding: 5px;

}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar span.active {
    color: #d81b60 !important;
    font-size: 30px !important;
    font-weight: bolder !important;
}
.name-sora {
    font-size: 30px !important;
}
.exit {
    position: relative;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.exit::before {
    content: '';
    position: absolute;
    top: 66%;
    right: 330%;
    transform: translate(-50%,-50%);
    border: 31px solid red;
    border-color:transparent #6c757d transparent transparent ;


}