
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-color: #ffffcc;
    color: black;
    font-family: 'Amaranth', sans-serif;
    font-family: 'Amiri Quran', serif;
}

.ss{
    margin: 20px;
    margin-top: 110px;
    margin-bottom: 25%;
    padding: 40px;
    text-align: justify;
    line-height: 2.5;
    border: 10px double #d81b60;
    .passmalla {
      font-size: 50px;
      width: 100%;
      margin-bottom: 50px;
      text-align: center;
      color: red;
    }
}
div.parent-simbole{
    position: relative;
    display: inline-block;
    font-size: 40px;
}
span.child-simbole{
position: absolute;
top: 60%;
left: 45%;
transform: translate(-50%, -50%);
font-size: 30px;
}
p{
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    display: inline;
    margin-bottom: 50px;
}
p.active{
    background-color: rgb(33, 36, 58) !important;
    color:#ffffff;
    border-radius: 10px;
    padding: 0px;
  font-family: 'Amiri';
}

.navbar{
    position: fixed;
    left: 0;
    width: 100%;
    padding-top: 25px ;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: 1s;
    i{
      color:#1b7dd8;
      cursor: pointer;
    }
}
.navbar span.active {
    color: #d81b60 !important;
    font-size: 25px !important;
    font-weight: bolder !important;
}
.name-sora {
    font-size: 30px !important;
}
.exit,.play_puse {
    font-size: 20px;
    font-family: 'Amiri';
    padding: 10px;
}

.tafsesr_box_parent,.search_results{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #d8c0c0;
    z-index: 999;
    height: 6%;
    font-size: 28px;
    text-align: justify;
    padding:10px 40px;
    line-height: 2;
    overflow-y: auto;
    color: #000000;
    box-shadow: inset 5px 5px 15px #1b7dd8,
    inset -5px -5px 15px #172e7a,
    inset 5px 5px 15px #1b44d8,
    inset -5px -5px 15px #0e1a49
    ;
    transition: 1s;
    i{
      position: absolute;
      left: 10px;
      top: 10px;
      color: red;
      cursor: pointer;
    }
    i.fa-window-minimize,
    i.fa-window-maximize{
      position: absolute;
      left: 40px !important;
      top: 5px !important;
      color: rgb(68, 0, 255) !important;
    }

#tafsesr_box{
    margin-top: 30px;
    font-family: 'Amiri', serif;
}
}
.tafsesr_box_parent >div.parent-simbole{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
}
.tafsesr_box_parent >div.parent-simbole:before{
    content: '';
    width: 200px;
    height: 5px;
    background-color: green;
    top: 82px;
    left: 82px;
    position: absolute;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.tafsesr_box_parent >div.parent-simbole:after{
    content: '';
    width: 200px;
    height: 5px;
    background-color: green;
    top: 82px;
    right: 82px;
    position: absolute;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.search_results{
  top: 8%;
  height: 85%;
  background-color: #fff;
  box-shadow: inset 2px 2px 12px #868686,
    inset -2px -2px 12px #9c9c9e,
    inset 2px 2px 12px #9a9aa1,
    inset -2px -2px 12px #5571e1;
    padding-top: 50px;
    display: none;
    i{
      position: absolute ;
      right: 15px;
      top: 10px;
      color: rgb(243, 4, 4);
      cursor: pointer;
      transition: .5s;
      &:hover {
        font-size: 35px;
      }
    }
    #search_box>p{
    font-size: 25px;
    margin-top: 30px;
    font-family: 'Amiri', serif;
    .sora-name{
      color: #29b6f6;
      font-size: larger;
    }
    >div.parent-simbole{
      font-size: 30px;
      .child-simbole{
        font-size: 20px;
      }
    }
  }
}
.search_results >div.parent-simbole{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 60px;
}
.search_results >div.parent-simbole:before{
  content: '';
  width: 200px;
  height: 5px;
  background-color: green;
  top: 82px;
  left: 82px;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.search_results >div.parent-simbole:after{
  content: '';
  width: 200px;
  height: 5px;
  background-color: green;
  top: 82px;
  right: 82px;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}



.play_pause,
.exit-parent{
    padding: 0 10px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    2px 2px 2px rgba(0, 0, 0, 0.2),
    inset 2px 2px 2px #fff;
    font-family: 'Amiri', serif;
    background-color: #1dc26a;
    color: #fff;
    margin-right: 15px;
    position: relative;
   z-index: 99;
  }
  .exit-parent{
    background-color: rgb(254, 6, 159);
  }
 
.volume{
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: flex-end;
  position: relative;

  i.fa-volume-high{
    color: #1dc26a;
    cursor: pointer;
    margin: 0 10px;
  }
  i.fa-volume-xmark{
    color: #514f4f;
    cursor: pointer;
    margin: 0 10px;
  }
  span {
    width: 5px;
    bottom: 0;
    background-color: #514f4f;
    height: calc(5px * var(--v));
    border-radius: 5px;
    cursor: pointer;
    &.active {
      background-color: #1dc26a;
      transition: .5s;
    }
    
  }
  
}

.spans{

  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  width: 20%;
  gap: 1px;
  span{
      background-color: rgba(235, 230, 230, 0.36);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
      1px 1px 2px rgba(0, 0, 0, 0.2),
      1px 1px 2px rgba(0, 0, 0, 0.2),
      1px 1px 2px rgba(0, 0, 0, 0.2),
      inset 1px 1px 2px #fff;
      width: 5px;
      height: 80%;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      /* left: calc(0px * var(--i)); */
      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 0%;
        background-color: #1dc26a;
        bottom: 0%;
        left: 40%;
        transform: translate(-50%,0);
      }
  &.active {
    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: 0%;
      background-color: #1dc26a;
      bottom: 0%;
      left: 60%;
      transform: translate(-50%,0);
      animation: top-bootom 2s infinite ease-in-out alternate;
      animation-delay: calc(.3s * var(--i));
    }
  }
}
}
@keyframes top-bootom {
    0%{
      height: 0%;
      /* filter: hue-rotate(0deg); */
    }
    10%{
      height: 80%;
    }
    20%{
      height: 0%;
    }
    30%{
      height: 20%;
    }
    40%{
      height: 0%;
    }
    50%{
      height: 50%;
    }
    60%{
      height: 20%;
    }
    70%{
      height: 5%;
    }
    80%{
      height: 70%;
    }
    90%{
      height: 10%;
    }
    100%{
      height: 95%;
      /* filter: hue-rotate(360deg); */
    }
  }

@media (min-width: 1301px) {
  .navbar{
    top:0%;
  &.active{
    top: -14%;
  }
}
}
@media (min-width:1280px) and (max-width:1300px) {
  .navbar{
    top:0%;
  &.active{
    top: -21%;
  } 
 }
}
@media (min-width:991px) and (max-width: 1280px) {
  .navbar{
    top:0%;
    &.active{
      top: -25%;
    }
  }
  .search_results{
    top: 8%;
  }
}
@media (min-width:881px) and (max-width: 991px) {
  .navbar{
    top:0%;
    &.active{
      top: -11%;
    }
  }
  .search_results{
    top: 10.6%;
  }
}
@media (min-width:661px) and (max-width: 881px) {
  .navbar{
    top:0%;
    &.active{
      top: -16%;
    }
  }
  .search_results{
    top: 17%;
  }
}
@media (max-width: 660px) {
  .navbar{
    top:0%;
    &.active{
      top: -16%;
    }
  }
  .ss{
    margin: 20px;
    margin-top: 110px;
    margin-bottom: 25%;
    padding: 12px;
    text-align: justify;
    line-height: 2.5;
    border: 5px double #d81b60;
    .passmalla {
      font-size: 30px;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      color: red;
    }
}
  p{
    font-size: 18px;
    line-height: 1.5;
  }
  p.active{
    border-radius: 10px;
}
  div.parent-simbole{
    position: relative;
    display: inline-block;
    font-size: 25px;
}

span.child-simbole{
position: absolute;
top: 60%;
left: 45%;
transform: translate(-50%, -50%);
font-size: 15px;
}

.tafsesr_box_parent{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #d8c0c0;
  z-index: 999;
  height: 6%;
  font-size: 20px;
  text-align: justify;
  padding:10px 10px;
  line-height: 2;
  overflow-y: auto;
  color: #000000;
  box-shadow: inset 2px 2px 2px #1b8cd8,
  inset -2px -2px 2px #172e7a,
  inset 2px 2px 2px #1b44d8,
  inset -2px -2px 2px #0e1a49
  ;

#tafsesr_box{
  margin-top: 20px;
  font-family: 'Amiri', serif;
}
}
.tafsesr_box_parent >div.parent-simbole{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}
.tafsesr_box_parent >div.parent-simbole:before{
  content: '';
  width: 100px;
  height: 3px;
  background-color: green;
  top: 40px;
  left: 42px;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.tafsesr_box_parent >div.parent-simbole:after{
  content: '';
  width: 100px;
  height: 3px;
  background-color: green;
  top: 40px;
  right: 42px;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.search_results{
  top: 17%;
}
}